body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
}

.header {
    width: 100vw; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    background-color: blue; /* Just for visibility */
    margin: 0 5px; /* Adjust margin between divs */
}

.thiswebsiteisawesome {
    width: 100vw; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    background-color: rgb(124, 35, 136); /* Just for visibility */
    margin: 0 5px; /* Adjust margin between divs */
}

.somerandominfo {
    width: 100vw; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    background-color: rgb(13, 13, 219); /* Just for visibility */
    margin: 0 5px; /* Adjust margin between divs */
}

.quote {
    width: 100vw; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    background-color: rgb(80, 80, 177); /* Just for visibility */
    margin: 0 5px; /* Adjust margin between divs */
}

.calltoaction {
    width: 100vw; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    background-color: blue; /* Just for visibility */
    margin: 0 5px; /* Adjust margin between divs */
}

.footer {
    width: 100vw; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    background-color: rgb(9, 9, 51); /* Just for visibility */
    margin: 0 5px; /* Adjust margin between divs */
}